.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 736px;
  width: 699px;
  border-radius: 0 30px 30px 0;
  background-image: url('../../assets/images/bg_image@1x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../../assets/images/bg_image@2x.png');
  }
}

.insideWrapper {
  height: 648px;
  width: 699px;
  margin-top: 88px;
}
