.wrapper {
  display: none;
}
.insideWrapper {
  height: calc(100vh - 430px);
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .insideWrapper {
    width: 699px;
  }
}

@media only screen and (min-width: 1440px) {
  .insideWrapper {
    height: 640px;
    width: 699px;
    margin-top: 88px;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 736px;
    width: 699px;
    border-radius: 0 30px 30px 0;
    background-image: url('../../assets/images/bg_image@1x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../../assets/images/bg_image@2x.png');
    }
  }
}
