.wrapper {
  color: var(--text-color-black);
  font-size: 14px;
}
@media only screen and (min-width: 1440px) {
  .wrapper {
    font-size: 16px;
  }
}

.description {
  color: var(--text-secondary-color);
}
.avatar {
  border-radius: 15px;
  width: 44px;
  height: 44px;
}

.name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color-black);
}

.inside_wrapper {
  margin: 20px 0;
  display: flex;
  gap: 14px;
}
@media only screen and (min-width: 1440px) {
  .inside_wrapper {
    margin: 40px 0;
    display: flex;
    gap: 14px;
    align-items: center;
  }
}
.btn_submit {
  margin-top: 12px;
  width: 100%;
  height: 36px;
  border-radius: 30px;
  background-color: var(--background-color-home);
}

@media only screen and (min-width: 1440px) {
  .btn_submit {
    margin-top: 24px;
    height: 52px;
  }
}

.btn_submit:hover,
.btn_submit:focus {
  border: 1px solid var(--background-color-home);
  background-color: transparent;
  color: var(--background-color-home);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media only screen and (min-width: 1440px) {
  .form {
    gap: 16px;
  }
}
.form_error {
  color: var(--error-color);
  position: absolute;
  font-size: 8px;
  margin-left: 8px;

  bottom: -10px;
}
@media only screen and (min-width: 1440px) {
  .form_error {
    font-size: 12px;
    bottom: -17px;
  }
}
.input_wrapper {
  position: relative;
}
.input_wrapper_second {
  display: flex;
  gap: 4px;
  position: relative;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .input_wrapper_second {
    input {
      width: 175px;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .input_wrapper_second {
    gap: 8px;

    input {
      font-size: 16px;
      width: 232px;
    }
  }
}
input {
  width: 100%;
}
textarea {
  border-radius: 12px;
  padding: 16px 0 0 18px;
  width: 100%;
  border: 1px solid var(--border-input);
  height: 116px;
  resize: none;
  outline: none;
}

.icon {
  position: absolute;
  top: 12px !important;
  right: 10px !important;
  z-index: 1003 !important;
}

@media only screen and (min-width: 1440px) {
  .icon {
    top: 16px !important;
    right: 18px !important;
  }
}

:global(.rc-time-picker-input) {
  border-radius: 12px !important;
  border: 1px solid var(--border-input) !important;
  width: 175px;
  height: 44px !important;
  display: flex !important;
  padding-left: 18px !important;
  font-size: 14px !important;
  color: var(--text-color-black) !important;
}

@media only screen and (min-width: 1440px) {
  :global(.rc-time-picker-input) {
    width: 232px;
    height: 52px !important;
    font-size: 16px !important;
  }
}

:global(.rc-time-picker-panel-input) {
  height: 30px !important;
}

:global(.rc-time-picker-panel-inner) {
  background-color: white !important;
  width: 150px;
  position: absolute !important;
  top: 57px !important;
  left: 25px !important;
  z-index: 1001 !important;
  box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07) !important;
  border: none !important;
  border-radius: 12px !important;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1440px) {
  :global(.rc-time-picker-panel-inner) {
    width: 150px;
    top: 60px !important;
    left: 82px !important;
  }
}
:global(.rc-time-picker-panel-combobox) {
  display: flex !important;
  gap: 5px !important;
  justify-content: center !important;
}
:global(.rc-time-picker-panel-select) {
  color: var(--dropdown_color);
  font-family: inherit;
  font-size: 14px !important;
}
@media only screen and (min-width: 1440px) {
  :global(.rc-time-picker-panel-select) {
    font-size: 16px !important;
  }
}

:global(.rc-time-picker-panel-select-option-selected) {
  color: var(--background-color-home) !important;
  background-color: transparent !important;
}

:global(.rc-time-picker-panel-select-active li:hover) {
  color: var(--background-color-home) !important;
  background-color: transparent !important;
}

:global(.rc-time-picker-panel-select) {
  --sb-bg-color: var(--orange-light);
  --sb-color: var(--background-color-home);
  --sb-size: 4px;
}

:global(.rc-time-picker-panel-select::-webkit-scrollbar) {
  width: 7px;
}

:global(.rc-time-picker-panel-select::-webkit-scrollbar-track) {
  background: var(--sb-bg-color);
  border-radius: 20px;
}

:global(.rc-time-picker-panel-select::-webkit-scrollbar-thumb) {
  background: var(--sb-color);
  border-radius: 20px;
}

@supports not selector(::-webkit-scrollbar) {
  .rc-time-picker-panel-select {
    scrollbar-color: var(--sb-color) var(--sb-bg-color);
  }
}
