.wrapper {
  padding: 32px 32px 50px 32px;
}
@media only screen and (min-width: 768px) {
  .wrapper {
    padding: 32px 64px 50px 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    padding: 64px 128px 100px 128px;
  }
}
