.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: rgba(21, 21, 21, 0.5);
}

.content {
  position: relative;
  border-radius: 8px;
  background-color: var(--text-color);
  width: 566px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 64px;
}

.closeModalBtn {
  position: absolute;
  z-index: 999;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
}

.closeModalIcon {
  stroke: var(--text-color-black);
}

.title {
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}
