.header {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 999;

  .wrapper {
    display: flex;
    font-weight: 500;
    height: 60px;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
  }
  .logo {
    font-size: 24px;
    transition: transform 0.3s ease;
  }

  .btn_login {
    border: 1px solid var(--black-4);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 36px;
    background-color: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: -0.01em;
  }

  .btn_register {
    border: 1px solid var(--black-4);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    width: 100px;
    height: 36px;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    .wrapper {
      padding: 0 64px;
    }
    .logo {
      font-size: 18px;
    }
  }
}
@media only screen and (min-width: 1440px) {
  .header {
    top: 20px;

    .wrapper {
      display: flex;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.17;
      letter-spacing: -0.02em;
      align-items: center;
      padding: 0 128px;
    }
    .logo {
      margin-right: 487px;
      font-size: 24px;
    }
    .btn_login {
      border: 1px solid var(--black-4);
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 124px;
      height: 48px;
      background-color: transparent;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: -0.01em;
    }
    .btn_login:hover,
    .btn_login:focus {
      background-color: var(--background-color-home);
      border: none;
      color: var(--text-color);
    }

    .btn_register {
      background-color: var(--background-color-home);
      border: none;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 168px;
      height: 48px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: -0.01em;
    }

    .btn_register:hover,
    .btn_register:focus {
      background-color: var(--text-color);
      color: var(--background-color-home);
      border: 1px solid var(--black-4);
    }
  }
}
.list_pages_links {
  display: none;
}
@media only screen and (min-width: 768px) {
  .list_pages_links {
    display: flex;
    gap: 15px;
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: -0.01em;
  }
}
@media only screen and (min-width: 1440px) {
  .list_pages_links {
    gap: 40px;
    font-size: 16px;
    margin-right: 92px;
  }
}
.header::after {
  margin-top: 0px;
  content: '';
  border-bottom: 1px solid var(--black-4);
  width: 100%;
  display: block;
}
@media only screen and (min-width: 1440px) {
  .header::after {
    margin-top: 20px;
    width: 1376px;
  }
}
.auth_links {
  display: flex;
  display: none;
}
@media only screen and (min-width: 768px) {
  .auth_links {
    display: flex;
    gap: 8px;
  }
}

.current_page::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--text-color);
  bottom: -6px;
  left: calc(50% - 4px);
}
@media only screen and (min-width: 1440px) {
  .current_page::after {
    width: 8px;
    height: 8px;
    background-color: var(--text-color);
    bottom: -12px;
  }
}

.list_pages_link_item {
  position: relative;
  transition: transform 0.3s ease;
}

.header_nannies {
  .wrapper {
    width: 100vw;
    background-color: var(--background-color-home);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 32px;
  }
  .logo {
    font-size: 24px;
    transition: transform 0.3s ease;
  }
  .list_pages_links {
    margin-right: 0;
  }
  .btn_login {
    border: 1px solid var(--black-4);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 36px;
    background-color: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: -0.01em;
  }

  .btn_register {
    border: 1px solid var(--black-4);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    width: 100px;
    height: 36px;
  }
}

@media only screen and (min-width: 768px) {
  .header_nannies {
    .wrapper {
      padding: 0 64px;
    }
    .logo {
      font-size: 18px;
    }
  }
}

.btn_login:hover,
.btn_login:focus {
  background-color: var(--text-color);
  color: var(--background-color-home);
  border: 1px solid var(--black-4);
}
.btn_register:hover,
.btn_register:focus {
  background-color: var(--text-color);
  color: var(--background-color-home);
  border: 1px solid var(--black-4);
}
@media only screen and (min-width: 1440px) {
  .header_nannies {
    .wrapper {
      height: 88px;
      padding: 0 128px;
    }
    .logo {
      font-size: 24px;
    }
    .btn_login {
      width: 124px;
      height: 48px;
      font-size: 16px;
    }

    .btn_register {
      font-size: 16px;
      width: 168px;
      height: 48px;
    }
  }
}

.btn_logout {
  display: none;
}
@media only screen and (min-width: 768px) {
  .btn_logout {
    border: 1px solid var(--black-4);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 36px;
    background-color: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: -0.01em;
  }
}
@media only screen and (min-width: 1440px) {
  .btn_logout {
    width: 124px;
    height: 48px;
    font-size: 16px;
  }
}
.btn_logout:hover,
.btn_logout:focus {
  background-color: var(--text-color);
  color: var(--background-color-home);
  border: 1px solid var(--black-4);
}

.userdetails_wrapper {
  display: none;
}
@media only screen and (min-width: 768px) {
  .userdetails_wrapper {
    display: flex;
    gap: 7px;
    align-items: center;
  }
}
@media only screen and (min-width: 1440px) {
  .userdetails_wrapper {
    gap: 14px;
  }
}

.user_name {
  display: none;
}
@media only screen and (min-width: 768px) {
  .user_name {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.11;
    letter-spacing: -0.01em;
  }
}
@media only screen and (min-width: 1440px) {
  .user_name {
    font-weight: 700;
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1439.99px) {
  .user_icon {
    size: 16px;
  }
}

.usericon_wrapper {
  display: none;
}
@media only screen and (min-width: 768px) {
  .usericon_wrapper {
    background-color: var(--text-color);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
}
@media only screen and (min-width: 1440px) {
  .usericon_wrapper {
    height: 40px;
    width: 40px;
    border-radius: 10px;
  }
}

.user_wrapper {
  display: none;
}
@media only screen and (min-width: 768px) {
  .user_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
}

@media only screen and (min-width: 1440px) {
  .user_wrapper {
    gap: 24px;
  }
}

.burger_btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .burger_btn {
    display: none;
  }
}

.burger_icon {
  fill: var(--text-color);
  stroke: var(--text-color);
}

.logo:hover,
.logo:focus {
  transform: scale(1.3);
}

.list_pages_link_item:hover,
.list_pages_link_item:focus {
  transform: scale(1.3);
}
