.header {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 999;
}

.wrapper {
  display: flex;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  align-items: center;
  padding: 0 128px;
  justify-content: space-between;
}
.header::after {
  margin-top: 20px;
  content: '';
  border-bottom: 1px solid var(--black-4);
  width: 1376px;
  display: block;
}
.inside_wrapper {
  display: flex;
  align-items: center;
}
.auth_links {
  display: flex;
  gap: 8px;
}

.btn_login {
  border: 1px solid var(--black-4);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 48px;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
}
.btn_login:hover,
.btn_login:focus {
  background-color: var(--background-color-home);
  border: none;
}

.btn_register {
  background-color: var(--background-color-home);
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.btn_register:hover,
.btn_register:focus {
  background-color: var(--text-color);
  color: var(--background-color-home);
  border: 1px solid var(--black-4);
}
.logo {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.list_pages_links {
  display: flex;
  gap: 40px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  margin-right: 92px;
}

.test {
  background-color: var(--background-color-home);
  width: 100vw;
  height: 88px;
}
