.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: var(--text-gris-color);
  margin-bottom: 8px;
}
.dropdown_btn {
  width: 180px;
  height: 36px;
  background-color: var(--background-color-home);
  border-radius: 12px;
  padding-left: 18px;
  padding-right: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.11;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}
@media only screen and (min-width: 1440px) {
  .dropdown_btn {
    width: 226px;
    height: 48px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 18px;
    border-radius: 14px;
  }
}
.dropdown_list {
  box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07);
  border-radius: 14px;
  width: 180px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--dropdown_color);
  padding: 14px 18px;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 999;
}

@media only screen and (min-width: 1440px) {
  .dropdown_list {
    width: 226px;
    gap: 12px;
    color: var(--dropdown_color);
    padding: 14px 18px;
    top: 82px;
  }
}

.filter_wrapper {
  margin-bottom: 32px;
  position: relative;
}

.dropdown_list_item {
  cursor: pointer;
  font-size: 14px;
}
@media only screen and (min-width: 1440px) {
  .dropdown_list_item {
    font-size: 18px;
  }
}

.dropdown_list_item:hover,
.dropdown_list_item:focus {
  color: var(--background-color-home);
}

.dropdown_list_item.active {
  color: var(--text-color-black);
}
.inside_wrapper {
  display: flex;
  gap: 15px;
}
.reset_wrapper {
  border-radius: 50%;
  background-color: var(--background-color-home);
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reset_wrapper:hover,
.reset_wrapper:focus {
  background-color: var(--orange-light);
}
@media only screen and (min-width: 1440px) {
  .reset_wrapper {
    width: 48px;
    height: 48px;
  }
}

.icon_reset {
  fill: var(--white-color);
  stroke: var(--white-color);
  pointer-events: none;
}
