.description {
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-secondary-color);
  margin-bottom: 40px;
}

.form {
  display: flex;
  gap: 18px;
  flex-direction: column;
}

input {
  border: 1px solid var(--border-input);
  border-radius: 12px;
  padding-left: 18px;
  width: 438px;
  height: 52px;
  outline: none;
  color: var(--text-color-black);
  font-size: 16px;
  line-height: 1.25;
}

.btn_submit {
  margin-top: 22px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  height: 52px;
  border: 1px solid transparent;
  display: flex;
  background-color: var(--background-color-home);
}

.btn_submit:hover,
.btn_submit:focus {
  color: var(--background-color-home);
  background-color: transparent;
  border: 1px solid var(--background-color-home);
}

.form_error {
  color: var(--error-color);
  position: absolute;
  font-size: 12px;
  margin-left: 8px;
  bottom: -17px;
}
.input_wrapper {
  position: relative;
}

.eyeIconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 16px;
  right: 18px;
}
.loader {
  position: absolute;
  top: 0;
  right: 0;
}
