.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.btn_more {
  border-radius: 30px;
  width: 159px;
  height: 36px;
  background-color: var(--background-color-home);
  text-align: center;
  font-size: 14px;
}
@media only screen and (min-width: 1440px) {
  .btn_more {
    height: 48px;
    font-size: 16px;
  }
}

.btn_more:hover,
.btn_more:focus {
  border: 1px solid var(--background-color-home);
  background-color: transparent;
  color: var(--background-color-home);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    gap: 64px;
  }
}
