.list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 48px 0;
}
.btn_appointment {
  border-radius: 30px;
  text-align: center;
  width: 215px;
  height: 48px;
  font-weight: 700;
  background-color: var(--background-color-home);
  color: var(--text-color);
}

.btn_appointment:hover,
.btn_appointment:focus {
  border: 1px solid var(--background-color-home);
  background-color: transparent;
  color: var(--background-color-home);
}
