.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.btn_more {
  border-radius: 30px;
  width: 159px;
  height: 48px;
  background-color: var(--background-color-home);
  text-align: center;
}

.btn_more:hover,
.btn_more:focus {
  border: 1px solid var(--background-color-home);
  background-color: transparent;
  color: var(--background-color-home);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
}

.text_any {
  color: var(--background-color-home);
  font-size: 24px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .text_any {
    font-size: 36px;
  }
}

@media only screen and (min-width: 1440px) {
  .text_any {
    color: var(--background-color-home);
    font-size: 54px;
  }
}
